{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    <div class="project-details">
        <h1>{{ project.name }}</h1>
        <p><strong>Location:</strong> {{ project.location }}</p>
        <div class="project-detail-image">
            {% if project.main_photo_url %}
                <img src="{{ url_for('static', filename='uploads/' + project.main_photo_url) }}" alt="{{ project.name }}">
            {% endif %}
        </div>
        <div class="project-detail-description">
            <p>{{ project.description }}</p>
        </div>
        <a href="{{ url_for('projects_list', status_filter='Past') }}" class="back-link">← Back to Projects</a>
    </div>
{% endblock %}